{% comment %} ** Image with text (half and half view) - homepage partial ** -
Draggable section - Uses blocks {% endcomment %} {% if
section.settings.frontpage_grid_style == false %}
<div class="container">
   <div class="sixteen columns">
      {% endif %}

      <div
         class="image-with-text
                                featured_collections
                                clearfix across-{{
            section.settings.featured_links_per_row
         }} image-align--{{ section.settings.frontpage_image_position }}
                                full-width--{{
            section.settings.frontpage_grid_style
         }}
                                "
      >
         {% if section.blocks.size > 0 %} {% for block in section.blocks %}
         <section
            class="featured-link--section featured-link--image section-{{
               forloop.index
            }}"
            id="section{{ forloop.index }}"
            {{
            block.shopify_attributes
            }}
         >
            <div
               class="featured-link--half featured-link--image featured-link--margin image-crop--{{
                  block.settings.image_crop
               }}"
            >
               <div class="featured-link--wrap">
                  {% if block.settings.image %}

                  <div class="image-holder">

                     {% if forloop.index != 1 %}
                        {% render 'image-element', image: block.settings.image,
                        alt: block.settings.image.alt, stretch_width: true %}
                     {% endif %}

                     {% if forloop.index == 1 %}
                        <video class="lozad" autoplay muted loop playsinline>
                           <source data-src="{{ 'display.mp4' | asset_url}}" type="video/mp4" />
                        </video>

                     {% elsif forloop.index == 2 %}
                        {{ 'antifog1.png' | asset_url | img_tag: 'Antifog', 'replace-with lazyload' }}

                     {% elsif forloop.index == 3 %}
                        <div id="light-selection">
                           <video class="lozad dual" autoplay muted loop playsinline>
                              <source data-src="{{ 'light-selection.mp4' | asset_url}}" type="video/mp4"/>
                           </video>

                           {{ 'thespeculum-with-light.jpg' | asset_url | img_tag: 'The speculum smart mirror with lights on', 'replace-with lazyload single' }}

                        </div>

                     {% elsif forloop.index == 4 %}
                        <video class="lozad" autoplay muted loop playsinline>
                           <source data-src="{{ 'btn.mp4' | asset_url}}" type="video/mp4"/>
                        </video>

                     {% endif %}
                  </div>

                  {% else %} {% capture i %} {% cycle "1","2", "3", "4",
                  "5", "6" %} {% endcapture %}
                  {{
                     "collection-"
                        | append: i
                        | placeholder_svg_tag
                           : "placeholder-svg placeholder-svg--promotions"
                  }}
                  {% endif %}
               </div>
            </div>
            <div class="featured-link--half block--{{ block.id }}">
               <div
                  class="info text-align--{{
                     section.settings.frontpage_text_align
                  }}"
               >

               {% if block.settings.mobile_button != "hide" %}
                  <button
                     class="mobile-feature-button"
                     onclick="effect(this, {{ forloop.index }})"
                  >
                     {{ block.settings.mobile_button }}
                  </button>
               {% endif %}

                  <h3>{{ block.settings.title }}</h3>

                  {% if block.settings.allow_dual_text == true %}
                     <div class="description toggle-dual-description">
                        <div class="description-dual">{{ block.settings.dual_text }}</div>
                        <div class="description-initial">{{ block.settings.text }}</div>
                     </div>

                  {% else %}
                     <div class="description">

                        {% if block.settings.allow_textarea == true %}
                           {{ block.settings.textarea }}
                        {% else %}
                           {{ block.settings.text }}
                        {% endif %}

                     </div>
                  {% endif %}


                  {% if block.settings.button_label != blank %}
                  <div class="switch-effect">
                     <input
                        class="apple-switch"
                        onclick="effect(this, {{ forloop.index }})"
                        type="checkbox"
                     />
                     <label>{{ block.settings.button_label }}</label>
                  </div>
                  {% endif %}
               </div>
            </div>
         </section>
         {% endfor %} {% endif %}
      </div>
      {% if section.settings.frontpage_grid_style == false %}
   </div>
</div>
{% endif %}

<script>
   function effect(e, num) {
      const element = $(`.section-${num} .image-holder`);

      if(!e.classList.contains("replace")) element.addClass("replace");
      else element.removeClass("replace");

      e.classList.toggle("replace");
   }

   lozad().observe()
</script>

{% comment %} Is the color set to transparent? {% endcomment %} {% assign
bg_alpha = block.settings.bg_color | color_extract: 'alpha' %}

<style>

   {% for block in section.blocks %}
     .block--{{ block.id }} {
       background-color: {{ block.settings.bg_color }};
     }

     .block--{{ block.id }} .collection_title,
     .block--{{ block.id }} p {
       color: {{ block.settings.text_color }};
     }

     .block--{{ block.id }} a.button {
       color: {{ block.settings.text_color }};
       border-color: {{ block.settings.text_color }};
     }

     .block--{{ block.id }} a.button:hover {
       color: {% if bg_alpha != 0 %}{{ block.settings.bg_color }}{% else %}{{ settings.shop_bg_color }}{% endif %};
       border-color: {{ block.settings.text_color }};
       background-color: {{ block.settings.text_color }};
     }
   {% endfor %}

   {% if section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '1' %}
       #shopify-section-{{ section.id }} .featured-link--section {
         margin-bottom: 3%;
       }
       @media only screen and (max-width: 480px) {
         #shopify-section-{{ section.id }} .featured-link--section {
           margin-bottom: 10%;
         }
       }

       #shopify-section-{{ section.id }} .featured-link--half {
         width: 45%;
       }

       #shopify-section-{{ section.id }} .featured-link--margin {
         {% if section.settings.frontpage_image_position == 'right' %}
           margin-left: 3%;
         {% else %}
           margin-left: 0;
           margin-right: 3%;
         {% endif %}
       }

       #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
         {% if section.settings.frontpage_image_position == 'right' %}
           margin-left: 0;
           margin-right: 3%;
         {% else %}
           margin-left: 3%;
           margin-right: 0;
         {% endif %}
       }

     {% elsif section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '2' %}

         @media only screen and (max-width: 480px) {
           #shopify-section-{{ section.id }} .featured-link--section {
             margin-bottom: 10%;
           }
         }

         #shopify-section-{{ section.id }} .featured-link--margin {
           margin-right: 0;
           margin-left: 0;
         }

         #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
           margin-left: 0;
           margin-right: 0;
         }

       {% endif %}
</style>

{% schema %} {
   "name": "Features showcase",
   "class": "image-with-text-section",
   "max_blocks": 16,
   "settings": [
      {
         "type": "checkbox",
         "id": "frontpage_grid_style",
         "label": "Wide display"
      },
      {
         "type": "select",
         "id": "featured_links_per_row",
         "label": "Images per row",
         "options": [
            { "value": "1", "label": "1" },
            { "value": "2", "label": "2" }
         ]
      },
      {
         "type": "select",
         "id": "frontpage_text_align",
         "label": "Text alignment",
         "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
         ]
      },
      {
         "type": "select",
         "id": "frontpage_image_position",
         "label": "First image position",
         "info": "Subsequent images will appear staggered",
         "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
         ]
      }
   ],
   "blocks": [
      {
         "type": "image",
         "name": "Image with text",
         "settings": [
            {
               "type": "image_picker",
               "id": "image",
               "label": "Image",
               "info": "1024 x 1024px recommended"
            },
            {
               "type": "select",
               "id": "image_crop",
               "label": "Image cropping",
               "default": "none",
               "info": "Only applied when text area is taller than image.",
               "options": [
                  {
                     "value": "left",
                     "label": "Left"
                  },
                  { "value": "right", "label": "Right" },
                  {
                     "value": "center",
                     "label": "Center"
                  },
                  { "value": "none", "label": "None" }
               ]
            },
            {
               "type": "text",
               "id": "title",
               "label": "Heading",
               "default": "Your headline"
            },
            {
               "type": "richtext",
               "id": "text",
               "label": "Normal text",
               "default": "<p>Promotion description appears here.</p>"
            },
            {
               "type": "checkbox",
               "id": "allow_textarea",
               "label": "Use text with custom HTML instead"
            },
            {
               "type": "textarea",
               "id": "textarea",
               "label": "\"Normal text\" with custom HTML",
               "default": "<b>Strong</b> <p>Paragraph</p> <i>Cursive</i> <ul><li>item 1</li><li>item 2</li></ul>"
            },
            {
               "type": "checkbox",
               "id": "allow_dual_text",
               "label": "Show different text for 80x60cm mirror"
            },
            {
               "type": "richtext",
               "id": "dual_text",
               "label": "Text for 80x60cm mirror",
               "default": "<p>This mirror has less heating but thicc dual lights</p>"
            },
            {
               "type": "text",
               "id": "button_label",
               "label": "Button label",
               "default": "View all"
            },
            {
               "type": "text",
               "id": "mobile_button",
               "label": "Mobile button label (\"hide\" for no button)",
               "default": "hide"
            },
            { "type": "header", "content": "Colors" },
            { "type": "color", "id": "bg_color", "label": "Background" },
            { "type": "color", "id": "text_color", "label": "Text" }
         ]
      }
   ],
   "presets": [
      {
         "name": "Image with text",
         "category": "Image",
         "settings": {
            "featured_links_per_row": "1",
            "frontpage_text_align": "left"
         },
         "blocks": [
            {
               "type": "image"
            },
            { "type": "image" }
         ]
      }
   ]
}
 {% endschema %}
